.info-container {
    margin: 80px auto;
    width: 400px;
}

.info-card {
    padding: 16px;
    border: 1px solid lightgray;
}

.info-user {
    padding-bottom: 16px;
}

.info-user span {
    font-weight: normal;
}